<app-fb-toolbar></app-fb-toolbar>
<article class="fb-home-page-post-container">
  <h2>Crear un Post</h2>
  <form (ngSubmit)="onSubmit()" #postForm="ngForm">
    <section class="fb-home-page-form-group">
      <label for="message">Mensaje:</label>
      <textarea id="message" name="message" [(ngModel)]="postMessage" required></textarea>
    </section>
    <section class="form-group">
      <label for="file">Archivo:</label>
      <input type="file" id="file" (change)="onFileChange($event)" />
    </section>
    <button type="submit">Publicar</button>
  </form>
  
  <fb-posts-list [posts]="listPosts$ | async" (openDialog)="openDialog($event.post, $event.comment)"></fb-posts-list>
  
</article>




